# Just until rtd.org understands pyproject.toml
#setuptools
#setuptools_scm
#typing_extensions
#importlib_metadata
sphinx_rtd_theme
sphinx_autodoc_typehints


# converting notebooks to html
#ipykernel
#sphinx
inbsphinx
pandoc
